+1265085359
-FINISHED
-在專案選單中用子功能表列出所有的專案，並讓使用者設定"工作中的專案"
+1268497432
-FINISHED
-在專案選單中，加入關閉專案的選單
+1268590752
-FINISHED
-加入ezSDX
+1268591431
-NOT_STARTED
-考慮在quick search 加入 命令的功能
+1274413117
-FINISHED
-在選項中增加執行F5前清除consle的選項
+1275154140
-NOT_STARTED
-加入diff工具(Eskil)
+1275154161
-NOT_STARTED
-檢示中加入zoom in/out
+1275154169
-NOT_STARTED
-隱藏工具列
+1275381498
-NOT_STARTED
-加入顯示隱藏檔的選項
